<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>

  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>

  <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
</head>
  <body>
    <div class="container">
  <div class="jumbotron">
    <h1 class="text-success">What,we Do</h1>
    <p class="lead">CrudFiles is platform where teahers upload their <br> <b>study notes </b>
      in a organized way specifying all details and students can read and download them.
      <hr class="my-4">
     <h3 class="text-success">Team</h3>
     <p>CrudFiles is designed by <b class="text-success">Aman Sharma(bobby)</b>, studying BTech-CSE.<br>Now a small team of students handles CrudFiles to provide a best learning platform. </p>
      <hr class="my-4">
    <h4 class="text-success">Follow Us:</h4>
    <p><a href="#">twitter</a></p>
    <p><a href="#">facebook</a></p>
    <p>aman@gmail.com</p>
    <p>1234567890</p>
    </div>
  </div>
  <footer class="page-footer font-small success">
 <div class="footer-copyright text-center py-3">© 2021 Copyright:
   <a href="https://navbar.com/"> CrudFiles.com</a>
 </div>
</footer>
  </body>
</html>
